<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%-5p [%c{6}] %m%n"/>
        </layout>
    </appender>
    
    <appender name="fileLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/tmp/cdcatalogue-log.txt" />
        <param name="MaxFileSize" value="3000KB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1} [%t]:%L - %m%n" />
        </layout>
    </appender>
  	

    <!-- ############### Embedded JBoss AS #################  -->
    <category name="org.jboss">
        <priority value="ERROR"/>
        <appender-ref ref="fileLog" />
    </category>
    

    <!-- ############### Hibernate logging ################# -->

    <category name="org.hibernate">
        <priority value="ERROR"/>
        <appender-ref ref="fileLog" />
    </category>

    <category name="org.hibernate.SQL">
        <priority value="TRACE"/>
    </category>
    <!--
    <category name="org.hibernate.type">
        <priority value="TRACE"/>
    </category>
    <category name="org.hibernate.loader">
        <priority value="TRACE"/>
    </category>
    <category name="org.hibernate.cache">
        <priority value="TRACE"/>
    </category>
    -->


    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="fileLog"/>
    </root>

</log4j:configuration>
