<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


  <bean id="categoryDao" class="ar.com.natlehmann.cdcatalogue.dao.jpa.CategoryDaoJpaImpl">
  </bean>
  
  <bean id="volumeDao" class="ar.com.natlehmann.cdcatalogue.dao.jpa.VolumeDaoJpaImpl">
  </bean>
  
  <bean id="resourceDao" class="ar.com.natlehmann.cdcatalogue.dao.jpa.ResourceDaoJpaImpl">
  </bean>
  
  <bean id="cdCatalogueModelFacade" class="ar.com.natlehmann.cdcatalogue.business.CdCatalogueModelImpl">
  	<property name="volumeDao" ref="volumeDao"/>
  	<property name="resourceDao" ref="resourceDao"/>
  	<property name="categoryDao" ref="categoryDao"/>
  </bean>
  
  <bean id="cdCatalogueViewFacade" class="ar.com.natlehmann.cdcatalogue.view.CdCatalogueMainWindow">
  	<property name="modelFacade" ref="cdCatalogueModelFacade"/>
  </bean>
  
  <bean id="cdCatalogueControllerFacade" class="ar.com.natlehmann.cdcatalogue.controller.CdCatalogueControllerImpl" 
  	init-method="init">
  	<property name="modelFacade" ref="cdCatalogueModelFacade"/>
  	<property name="viewFacade" ref="cdCatalogueViewFacade"/>
  </bean>


</beans>
